body{
    text-align: center;
}

#box{
    margin-left: 30%;
    position: relative;
    margin-right: 30%;
    margin-top: 1%;
    border: 2px solid;
    border-radius: 20px;
    padding: 1%;
    background-color:rgba(0,255,255,0.1);
    text-align: left;
}

#buttonBox{
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 0;
}

#displayBlock{
    display: inline;
}

#create{
    margin-left:30%;
    margin-right:30%;
    text-align:left;
    display:none;
}

img{
    display: inline;
}

h1 {
    font-family: "Pico", "Times", serif;
    color: rgb(64,153,255);
    display:inline;
}

input{
    border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-position: bottom right;
	background-repeat: no-repeat;
}

textarea{
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-position: bottom right;
	background-repeat: no-repeat;
}

button{
    cursor: pointer; cursor: hand;
}

.header{
    cursor: pointer; cursor: hand;
}

.tweet {
    border: 1px solid;
    padding: 5px;
    margin: 2%;
    border-radius: 10px;
    background-color:white;
}

.header {
    font-weight: bold;
    display:inline;
}
.time {
    opacity: 0.3;
    display: inline;
}

.goBack {
    display: none;
}
.time {
	list-style-type: none;
	text-indent: 50px;

}
